<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here</title>
    <style>
        form{
       text-align:center}
       h1{text-align:center}
       body{background-color:MediumSlateBlue}




    </style>
</head>
<body style="background-image:url('reg.jpg')">
<h1>Registeration form</h1>
<form action="" method="post">
     {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your user name"><br>
    <input type="text" name="first_name" placeholder="Enter your first_name"><br>
    <input type="text" name="last_name" placeholder="Enter your last_name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="conform your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>